.mainVersionTable {
    margin: 16px;
    .actionButtonsContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        > button {
            margin-right: 16px;
        }
        .previewButton {
            background-color: rgb(19, 98, 187);
            color: white;
        }
    }
    .custom-pagination {
        flex-wrap: wrap;
        .ant-pagination-options-quick-jumper input {
            margin-left: -20px;
            margin-right: -40px;
        }
        .ant-pagination-options-quick-jumper .go-button {
            background: #00a483 !important;
            height: 24px;
            font-size: 14px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: center;
            color: #fff;
            border-radius: 6px;
            line-height: 0.86;
            margin-left: 12px;
            margin-right: 12px;
        }
        .ant-pagination-options {
            display: flex;
            flex-direction: row-reverse;
        }
    }
}
.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 16px;

    .selectBox {
        width: 250px;
    }
}
