.add-question-container {
    padding: 32px 32px;
    .add-question-form {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 0 20px;
      gap: 0 20px;
      grid-auto-columns: 460px;
      grid-template-rows: repeat(6, 1fr);
      grid-template-columns: repeat(2, 1fr);
    }
    .add-question-footer {
      display: flex;
      justify-content: end;
      gap: 10px;
      margin-top: 10px;
      .save-btn {
        background-color: #699a00;
        border: none;
      }
      .cancel-btn {
        background-color: gray;
        border: none;
      }
    }
  }
  