.questionIdentification {
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;

  .questionIdentificationMain {
    width: 100%;
    display: flex;
    gap: 15px;
    .questionIdentificationMainLeft {
      width: 25%;
      height: 610px;
      border: 1px solid gray;
      .ant-form {
        padding: 10px;
        .findButton {
          width: 100%;
        }
      }
    }
    .questionIdentificationMainRight {
      width: 75%;
    }
    .quesiton-images {
      height: 500px;
      border: 1px solid gray;
    }
  }
  .ant-form-item-label {
    label {
      font-size: 15px !important;
    }
  }
  .question-info {
    display: flex;
    width: 100%;
    margin-top: 15px;
    .quesiton-label {
      min-width: 150px;
    }
    .ant-input {
      height: 40px;
      width: 200px;
      margin-right: 2px;
    }
    .error-info {
      margin-left: 150px;
      .ant-select {
        width: 200px;
      }
    }
    .checkbox {
      display: flex;
      flex-direction: column;
      margin-left: 150px;
    }
    .minute {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .minute-text {
      position: absolute;
      right: 30px;
    }
    .starts {
      display: flex;
      gap: 10px;
      cursor: pointer;
    }
    .checkbox-item {
      margin-left: 7px;
      width: 100%;
      .ant-select {
        width: 100%;
      }
    }
    .questionStateNote {
      .ant-select {
        width: 200px;
      }
    }
  }
  .infos {
    .upload {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  .circle-reply {
    border-radius: 100%;
    padding: 3px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid black;
    margin-right: 5px;
    cursor: pointer;
  }
  .circle-reply-active {
    background-color: black;
    color: white;
  }
  .save-button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 15px;
    .save-q {
      width: 200px;
      margin-bottom: 10px;
    }
  }
  .q-pagination {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    .q-pagination-container {
      display: flex;
      align-items: center;
    }
    .q-pagination-item {
      display: flex;
      gap: 10px;
      align-items: center;
      div {
        padding-left: 6px;
        padding-right: 6px;
        cursor: pointer;
      }
    }
    .q-pagination-item-active {
      border-radius: 100%;
      border: 1px solid #3498db;
    }
  }
}

.file-upload {
  position: relative;
  width: 100%;
  input {
    position: absolute;
    width: 100%;
    height: 40px;
    opacity: 0;
    cursor: pointer;
  }
  .title {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d35400;
    color: white;
    border-radius: 5px;

    span {
      display: inline-block;
      width: 200px;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
    }
  }
  .title-disabled {
    background-color: gray;
    cursor: not-allowed !important;
  }
}
.cursor-disabled-q {
  cursor: not-allowed !important;
}
