.custom-table {
  .ant-table-thead {
    .ant-table-cell {
      font-family: UbuntuBold, sans-serif;
      font-size: 12px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #3f4957;
    }
  }

  .ant-table-tbody {
    .ant-table-cell {
      font-family: UbuntuRegular, sans-serif;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #3f4957;
    }

    .editable-table-cell {
      padding: 10px 12px 7.5px 12px;
    }

    .not-editable-table-cell {
      padding: 10px 12px 7.5px 14px;
    }

    :first-child.not-editable-table-cell {
      padding: 10px 12px 7.5px 0px;
    }

    .ant-table-row {
      td {
        padding: 7px 12px !important;
      }
    }
  }

  //EDiTABLETABLE
  input {
    border-radius: 4px;
    border: solid 0.5px #adb5bd;
    font-size: 14px;
  }

  .ant-table-expanded-row-fixed {
    width: 100% !important;
  }
}

.custom-pagination {
  display: flex;
  align-items: center;
  margin-top: 10px;

  .ant-pagination-item {
    height: 36px !important;
    line-height: 36px !important;
    display: flex;
    align-items: center;

    a {
      font-family: UbuntuRegular, sans-serif;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #3f4957;
      display: block;
      transition: none;
    }
  }

  .ant-pagination-item-active {
    width: 25px !important;
    height: 25px !important;
    border-radius: 18px;
    border: solid 1px #cbd1da;
    background-color: #cbd1da;

    a {
      width: 100%;
    }
  }

  .ant-pagination-prev,
  .ant-pagination-next {
    //min-width: unset !important;
    //height: auto !important;
    //margin: 0 !important;
    //line-height: 2.5 !important;
    padding: 0 14px !important;
  }

  .ant-pagination-jump-prev,
  .ant-pagination-jump-next {
    height: 36px !important;
    line-height: 36px !important;
    align-items: center;
    display: flex;
  }
}
