.react-player {
  display: flex;
}

.controls-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.controls-icon :hover {
  color: #fff;
}

.speedOverlay .ant-popover-inner-content {
  padding: 0px;
  color: rgba(0, 0, 0, 0.85);
}
