.custom-checkbox {
  .ant-checkbox {
    top: 0.5em !important;
  }

  .ant-checkbox + span {
    padding-left: 18px !important;
    font-family: UbuntuRegular, sans-serif;
  }

  .ant-checkbox-inner {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 24px;
    height: 24px;
    direction: ltr;
    background-color: #f8f8f8;
    border: 1px solid #a8a8a8;
    border-radius: 4px;
    border-collapse: separate;
    transition: all 0.3s;
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #f8f8f8;
    border-color: #4d5868;
  }

  .ant-checkbox-wrapper-checked {
    .checkbox-item-label {
      color: #3f4957;
    }
  }

  .ant-checkbox-checked .ant-checkbox-inner::after {
    position: absolute;
    display: table;
    border: 2px solid #000;
    border-top: 0;
    border-left: 0;
    transform: rotate(45deg) scale(1) translate(-50%, -50%);
    opacity: 1;
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    content: ' ';
    height: 12px;
  }
}