.edenred-footer {
  padding: 0 36px;

  .campaigns {
    height: 110px;
    margin: 49px 0 22px 0;
    padding: 18px 4px 21px 24px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    background-color: #d92c2c;

    .title {
      height: 59px;
      margin: 0 0 12px;
      font-family: UbuntuRegular, sans-serif;
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.13;
      letter-spacing: normal;
      color: #fff;
    }

    .arrow-icon {
      width: 21px;
      height: 19px;
      margin: 10px 135px 0 0;
      object-fit: contain;
    }
  }

  .contracts {
    height: 90px;
    margin: 22px 0 24px 0;
    padding: 20px 8px 21px 24px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    background-color: #6b7789;

    .title {
      height: 32px;
      margin: 0 0 17px;
      font-family: UbuntuRegular, sans-serif;
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.13;
      letter-spacing: normal;
      color: #fff;
    }

    .arrow-icon {
      width: 21px;
      height: 19px;
      margin: 10px 131px 0 0;
      object-fit: contain;
    }
  }

  .footer-line {
    width: 100%;
    height: 1px;
    margin: 24px 0 24px 0;
    border-top: solid 1px #979797;
  }

  .footer-link-content {
    display: inline-grid;

    .link {
      font-family: UbuntuRegular, sans-serif;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.93;
      letter-spacing: normal;
      color: #d5d8de;
      text-decoration: underline;
    }

    div {
      cursor: pointer;
    }
  }

  .footer-language {
    display: flex;
    // position: absolute;
    width: 22px;
    height: 22px;
    margin: 0 12px 0 0;
    padding: 6px 3px 5px 5px;
    background-color: #d80027;
    border-radius: 50%;

    .action-icon {
      width: 10px;
      height: 6px;
      margin: -4px 0 9px 24px;
      object-fit: contain;
    }
  }

  .ant-select-arrow {
    color: #fff;
  }

  .footer-company-name {
    height: 20px;
    margin: 24px 0 3px 0;
    font-family: UbuntuRegular, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #d5d8de;
  }

  .all-rights-reserved {
    height: 20px;
    margin: 3px 0 22px 0;
    font-family: UbuntuRegular, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #d5d8de;
  }

  .social-media-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 36px;

    img {
      width: 24px;
      height: 24px;
      margin: 0 15px 0 0;
      object-fit: contain;
    }
  }

}
