<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="LocalNuget" value="C:\NugetSource" />
    <add key="TurkcellSource" value="https://artifactory.turkcell.com.tr/artifactory/api/nuget/nuget" />
  </packageSources>
  <packageSourceCredentials>
  </packageSourceCredentials>
</configuration>