<?xml version="1.0" encoding="utf-8"?>
<configuration>
<config>
    <add key="http_proxy" value="http://webdefence.global.blackspider.com:80" />
    <add key="signatureValidationMode" value="accept" />
</config>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="LocalNuget" value="C:\NugetSource" />
    <add key="TurkcellSource" value="https://artifactory.turkcell.com.tr/artifactory/api/nuget/nuget" />
  </packageSources>
  <packageSourceCredentials>
  </packageSourceCredentials>
</configuration>