.pagination-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;

  .custom-pagination {
    flex-wrap: wrap;
    .ant-pagination-options-quick-jumper input {
      margin-left: -20px;
      margin-right: -40px;
    }
    .ant-pagination-options-quick-jumper .go-button {
      background: #00a483 !important;
      height: 24px;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: center;
      color: #fff;
      border-radius: 6px;
      line-height: 0.86;
      margin-left: 12px;
      margin-right: 12px;
    }
    .ant-pagination-options {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}
.difficulty-modal {
  width: 80% !important;
  // min-width: 900px;
  display: flex;
  justify-content: center;
  height: auto;
}
.question-filter-container {
  border: 2px solid black;
  height: 820px;
  width: 30%;
  margin: 0;
  padding: 0 0 0 5px;
  .button-container {
    display: flex;
    justify-content: flex-end;
    .question-change-button {
      border: 2px solid red;
      margin: 5px 5px auto auto;
    }
  }
  .question-knowledge-list {
    min-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-content: space-between;
    padding: auto;
    border: 2px solid pink;
    list-style-type: none;
    margin-right: 5px;
    padding-left: 5px;
    li {
      font-weight: bold;
      margin-left: 0;
      span {
        font-weight: normal;
      }
    }
  }
  .changeQuestionForm {
    padding-right: 16px;
    padding-left: 8px;
  }
}
.show-btn-group {
  display: flex;
  flex-direction: row;
  .back-btn {
    border: none;
    background-color: darkblue;
  }
  .edit-btn {
    border: none;

    margin-left: 16px;
    background-color: #d5b803;
  }
  .delete-btn {
    margin-left: 16px;
    border: none;
    background-color: rgb(223, 100, 100);
  }
}
.info-list {
  list-style: none;
  > li {
    margin: 16px auto;
    font-weight: bold;

    > span {
      font-weight: normal;
      color: #6b7789;
    }
  }
}

.countsContainer {
  margin: 16px;
  border: 2px solid black;
  padding: 16px;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  .counts-header {
    text-align: center;
  }

  .counts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .ant-form-item {
      // width: 15%;
      display: flex;
      flex-direction: column;
      .ant-form-item-label {
        width: 100px;

        label {
          margin-top: 7px;
          left: 2px;
        }
      }
    }
    .ant-form-item-control {
      .ant-form-item-control-input {
        .ant-form-item-control-input-content {
          .ant-input {
            width: 100px;
          }
        }
      }
    }
  }
}
.scrollable-container {
  max-height: 1100px;
  overflow: scroll;
  .show-question-container {
    border: 2px solid black;
    padding: 0;
    margin: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 600px !important;

    .image-container {
      width: 70%;
      border: 2px solid blue;
      .single-image-container {
        height: 550px !important ;
      }
    }
    .question-data-container {
      width: 30%;
      .question-filter-container {
        width: 100% !important;
        border: 2px solid salmon;
        height: 550px !important ;
        .question-knowledge-list {
          height: 500px !important;
        }
      }
    }
  }
}

.newQuestion-knowledge {
  width: 100%;
  height: 100%;
  // width: 30% !important;
  .question-knowledge-list {
    min-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-content: space-between;
    padding: auto;
    border: 2px solid pink;
    list-style-type: none;
    margin-right: 5px;
    padding-left: 5px;
    li {
      font-weight: bold;
      margin-left: 0;
      span {
        font-weight: normal;
      }
    }
  }
}
