// Question List
.survey-questions {
    .number-registered-drafts {
        padding              : 17px 24px 17px;
        display              : grid;
        grid-template-columns: 1fr 2fr;
        align-items          : center;

        .drafts-count-title {
            text-align: right;
        }
    }

    .operations-buttons {
        display        : flex;
        justify-content: space-between;
        align-items    : center;

        button {
            height   : 33px;
            min-width: 120px;
        }

        .add-question {
            button {
                font-weight  : 600;
                border-radius: 4px;
                background   : #00a483;
                color        : white;
                border-color : #00a483;
            }
        }
    }
}


// Question Modals
@mixin choise-form {
    .answers-title {
        margin-bottom: 25px;
    }

    .answers {
        label {
            min-width: 50px !important;
        }

        .ant-form-item-control-input-content {
            display              : grid;
            grid-template-columns: 85% 15%;
            grid-gap             : 10px;
        }

        button {
            height: 36px;
        }

    }

    .add-answer {
        button {
            height: 36px;
        }
    }
}

// Modal
.survey-modal {
    width: 1100px !important;

    .survey-form {
        .survey-content {
            display              : grid;
            grid-template-columns: 1fr 1fr;
            align-items          : flex-start;
            grid-gap             : 25px;

            label {
                min-width  : 100px;
                height     : 22px;
                margin     : 0 0 12px 0;
                width      : 100%;
                font-size  : 16px;
                font-weight: 500;
                font-family: UbuntuMedium, sans-serif;
            }

            .form-right-side {
                margin-l .answer-form-item {
                    display       : flex;
                    flex-direction: row;
                }
            }
        }

        .form-buttons {
            text-align: right;

            button {
                height: 50px;

                &:first-child {
                    margin-right: 20px;
                }

                &:last-child {
                    background  : #699a00;
                    color       : #fff;
                    border-color: #699a00;
                }
            }
        }

        .ql-container {
            min-height: 100px;
        }
    }

    .one-choice-question-link-form,
    .multiple-choice-question-link-form {
        @include choise-form;
    }

    .open-ended-question-link-form,
    .likert-choice-question-link-form,
    .fill-in-the-blank-question-link-form,
    .one-choice-question-link-form,
    .multiple-choice-question-link-form {
        .ant-select-selector {
            height       : 36px;
            font-size    : 16px;
            padding-left : 16px;
            font-family  : UbuntuRegular;
            color        : #3f4957;
            border-radius: 4px;
        }
    }

    // Likert Modal

    // Star Rating
    $stars         : 5;
    $star-size     : 40px;
    $star-spacing  : 2px;
    $star-on-color : #F9DF4A;
    $star-off-color: #CCCCCC;

    .star-rating {
        width : 100%;
        height: 100px;

        label {
            float    : right !important;
            position : relative !important;
            width    : $star-size !important;
            height   : $star-size !important;
            cursor   : pointer !important;
            min-width: auto !important;

            &:not(:first-of-type) {
                padding-right: $star-spacing;
            }

            &:before {
                content    : "\2605";
                font-size  : $star-size + 2px;
                color      : $star-off-color;
                line-height: 1;
            }
        }

        input {
            display: none;
        }

        input:checked~label:before,
        &:not(:checked)>label:hover:before,
        &:not(:checked)>label:hover~label:before {
            color: $star-on-color;
        }
    }

    // Emoji Rating
    .emoji-rating {
        position      : relative;
        display       : flex;
    }

    .emoji-rating input {
        display: none;
    }

    .emoji-rating label {
        position: relative!important;
        width   : 0!important;
        height  : 128px!important;
        cursor: pointer;
        img {
            width: 75px;
            opacity: 0.2;
            transition: all .5s ease;
        }
    }

    .emoji-rating input:hover + label img,
    .emoji-rating input:checked + label img {
        opacity: 1;
    }

    .fill-in-the-blank-question-link-form {
        .add-blank-btn {
            margin-top: 15px;
            height    : 36px;
        }
    }
}

.sort-modal {
    .sort-list-container {
        .sort-buttons {
            display        : flex;
            flex-direction : column;
            justify-content: center;

            .sort-btn {
                margin-top: 10px;
                height    : 36px;
            }

            .active {
                background-color: #3f4957;
                color           : #fff;
            }
        }

        .form-buttons {
            margin-top: 30px;
            text-align: center;

            button {
                height: 50px;

                &:first-child {
                    margin-right: 20px;
                }


            }
        }
    }
}