.trial-exam-add {
  .trial-exam-add-content {
    padding: 20px;
  }
}
.trial-exam-add-content {
  .form {
    .ant-form-item-label {
      width: 160px;
    }
  }
}

.add-question-trial {
  .header-add-question {
    display: flex;
    justify-content: space-between;
    .add-part {
      display: flex;
      gap: 10px;
    }
  }
  .add-question-button {
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    .ant-btn {
      background-color: #3498db;
      color: white;
    }
  }
}
.add-question-view {
  .search-question {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    .ant-input {
      width: 150px;
    }
  }
  .filter {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid gray;
    .ant-form-item-label {
      width: 110px;
    }
    .filter-button {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      gap: 10px;
    }
  }
}
