.trial-exam-add {
    .trial-exam-add-content {
        padding: 20px;
    }
}
.trial-exam-add-content {
    .form {
        .ant-form-item-label {
            width: 160px;
        }
    }
}

.add-question-trial {
    .section-active {
        background-color: #2ecc71;
        color: white;
    }
    .header-add-question {
        display: flex;
        justify-content: space-between;
        .add-part {
            display: flex;
            gap: 10px;
        }
    }
    .add-question-button {
        margin-top: 20px;
        display: flex;
        width: 100%;
        height: 150px;
        justify-content: center;
        align-items: center;
        border: 1px solid gray;
        .ant-btn {
            background-color: #3498db;
            color: white;
        }
    }
}
.add-question-view {
    .search-question {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        .ant-input {
            width: 150px;
        }
    }
    .filter {
        width: 100%;
        margin-top: 20px;
        padding: 20px;
        border: 1px solid gray;
        .ant-form-item-label {
            width: 110px;
        }
        .filter-button {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            gap: 10px;
        }
    }
    .info-question-add {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .add-icon {
        font-size: 30px;
        cursor: pointer;
    }
    .question-image {
        width: 100%;
        height: 150px;
        object-fit: contain;
    }
    .footer-question {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }
    .question-image-main {
        position: relative;
        span {
            width: 100%;
            height: 100%;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0px;
            left: 0px;
            font-size: 35px;
            color: #2ecc71;
        }
    }
    .pagination-right {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin-bottom: 20px;
    }
}
.view-quesiton-add {
    width: 100%;
    padding: 20px;
    border: 1px solid;
    margin-top: 20px;
    .view-quesiton-add-main {
        display: flex;
        gap: 20px;
        margin-top: 20px;
        .ant-select {
            width: 100px !important;
            height: 50px;
        }
    }
    .question-image-main {
        height: 200px;
        border: 1px solid;
        width: 400px;
    }
}

.quesiton-list {
    margin-bottom: 10px;
}
.step1-action-button {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 20px;
}
