.add-information-container {
  padding: 17px 0 16px 23px;
  position: relative;

  .form-item {
    display: flex;
    padding-bottom: 17.5px;

    .ant-form-item {
      margin-right: 24px;
      margin-bottom: 0;

      .ant-form-item-label {
        label {
          font-family: UbuntuMedium, sans-serif;
          font-size: 14px;
          line-height: 16px;
          color: #1d2228;
          font-weight: 500;
          height: unset;
          margin-top: 10px;
        }
      }

      .ant-form-item-label > label::after {
        margin: 0 12px 0 2px;
      }

      .ant-form-item-control {
        .ant-form-item-control-input-content {
          .ant-select {
            font-size: 14px;

            .ant-select-selector {
              height: 36px !important;
              padding: 10px 0 10px 14px !important;

              .ant-select-selection-placeholder {
                color: #3f4957;
                font-size: 14px;
                font-family: UbuntuRegular, sans-serif;
                line-height: 14px;
              }

              .ant-select-selection-item {
                line-height: 12px;
              }
            }

            .ant-select-arrow {
              right: 16px !important;
            }
          }

          .ant-picker {
            width: 152px;
            height: 36px;
            font-family: UbuntuMedium, sans-serif;
            font-size: 14px;
            line-height: 16px;
            color: #3f4957;
            font-weight: 500;
          }

          .orderType {
            .ant-select-selector {
              width: 160px;
            }
          }
        }

        .ant-form-item-control-input {
          .ant-form-item-control-input-content {
            .ant-input {
              border-radius: 4px;
              width: 259px;
              height: 36px;
              border-color: #adb5bd;
              padding: 7px 20px 9px 16px;
              font-family: UbuntuRegular, sans-serif;
              font-size: 14px;
              color: #3f4957;
            }

            .ant-input::placeholder {
              font-family: UbuntuRegular, sans-serif;
              font-size: 14px;
              color: #6b7789;
            }
          }
        }
      }
    }

    .delivery-address-add-form-item {
      margin-right: 20px;
    }

    .delivery-address-form-item {
      .address-info-box {
        font-size: 14px;
        font-family: UbuntuRegular, sans-serif;
        color: #3f4957;
        margin-right: 21px;
      }

      .add-address-btn {
        text-decoration: underline;
        font-size: 14px;
        font-family: UbuntuRegular, sans-serif;
        color: #3f4957;
        cursor: pointer;
      }
    }

    .active-date-form-item {
      margin-right: 18px;
    }
  }

  .form-item:last-child {
    border-top: solid 1px #eaecef;
    padding-top: 14px;
    padding-bottom: 0;
  }

  .form-item:last-child:before {
    content: '';
    position: absolute;
    left: 0;
    width: 26px;
    height: 0.5px;
    margin-top: -15px;
    background-color: #eaecef;
  }
}

@media (max-width: 991.98px) {
  .add-information-container {
    padding: 12px 0 16px 15px;

    .form-item {
      flex-direction: column;
      padding-bottom: 0;

      .ant-form-item {
        align-items: center;
        margin-right: 0;
        margin-bottom: 17px;

        .ant-form-item-label {
          flex: unset;
          width: 90px;
          margin-right: 14px;

          label {
            font-family: UbuntuMedium, sans-serif;
            font-size: 14px;
            line-height: 16px;
            color: #1d2228;
            font-weight: 500;
            height: unset;
            margin: 0 0 10px 0;
          }
        }

        .ant-form-item-label > label::after {
          margin: 0 12px 0 2px;
        }

        .ant-form-item-control {
          flex: unset;

          .ant-form-item-control-input-content {
            .ant-select {
              font-size: 14px;
              .ant-select-selector {
                padding: 10px 0 10px 14px !important;

                .ant-select-selection-placeholder {
                  color: #3f4957;
                  font-size: 14px;
                  font-family: UbuntuRegular, sans-serif;
                  line-height: 14px;
                }

                .ant-select-selection-item {
                  // line-height: 36px;
                }
              }

              .ant-select-arrow {
                right: 12px !important;
              }
            }

            .ant-picker {
              width: 152px;
              height: 36px;
              font-family: UbuntuMedium, sans-serif;
              font-size: 14px;
              line-height: 16px;
              color: #3f4957;
              font-weight: 500;
            }
          }

          .ant-form-item-control-input {
            .ant-form-item-control-input-content {
              .ant-input {
                width: 186px;
                height: 76px;
                padding: 11px 16px 11px 18px;
              }
            }
          }
        }
      }

      .delivery-address-add-form-item {
        .ant-form-item-label {
          label {
            width: 70px;
          }
        }
      }

      .delivery-address-form-item {
        margin-bottom: 0;

        .ant-form-item-label {
          label {
            width: 77px;
          }
        }

        .ant-form-item-control {
          .ant-form-item-control-input {
            .ant-form-item-control-input-content {
              flex-direction: column;
              width: 181px;
              display: flex;

              .address-info-box {
                margin-right: 0;
                margin-bottom: 15px;
                line-height: 15px;
              }
            }
          }
        }
      }

      .active-date-form-item {
        margin-bottom: 6px;
      }
    }

    .form-item:last-child {
      border-top: unset;
      padding-top: 0;
      padding-bottom: 0;
    }

    .form-item:last-child:before {
      content: '';
      width: unset;
      height: unset;
    }
  }
}
