.card-order-steps {
  margin-bottom: 24px;

  .ant-steps-item-tail {
    top: 16px;
    padding: 0;
    margin-left: 70px;
  }

  .ant-steps-item-tail::after {
    height: 8px;
    background-color: #dee2e6 !important;
    margin-left: 19px;
  }

  .ant-steps-item-content {
    margin-top: 10px;
  }

  .ant-steps-item-icon {
    width: 38px !important;
    height: 38px !important;
    line-height: 38px !important;
    background-color: #dee2e6;
    border-color: transparent !important;
    margin-left: 51px;

    .ant-steps-icon {
      font-size: 20px;
      font-family: UbuntuMedium, sans-serif;
      font-weight: 500;
      color: #fff;
    }
  }

  .ant-steps-item-process {
    .ant-steps-item-container {
      .ant-steps-item-icon {
        background: #fff;
        border: solid 1.3px;
        border-color: #00a483 !important;

        .ant-steps-icon {
          color: #00a483;
        }
      }

      .ant-steps-item-content {
        .ant-steps-item-title {
          color: #00a483;
          font-family: UbuntuMedium, sans-serif;
          font-size: 14px;
          font-weight: 500;
          line-height: 19px;
        }
      }
    }
  }

  .ant-steps-item-wait {
    .ant-steps-item-container {
      .ant-steps-item-content {
        .ant-steps-item-title {
          color: #adb5bd;
          font-family: UbuntuMedium, sans-serif;
          font-size: 14px;
          font-weight: 500;
          line-height: 19px;
        }
      }
    }
  }

  .ant-steps-item-finish {
    .ant-steps-item-container {

      .ant-steps-item-tail::after {
        background-color: #00a483 !important;
      }

      .ant-steps-item-icon {
        background: #00a483;
        border: solid 1.3px;
        border-color: #00a483 !important;

        .ant-steps-icon {
          color: #fff;
          top: -2px;

          .anticon {
            vertical-align: 0 !important;
          }
        }
      }

      .ant-steps-item-content {
        .ant-steps-item-title {
          color: #adb5bd;
          font-family: UbuntuMedium, sans-serif;
          font-size: 14px;
          font-weight: 500;
          line-height: 19px;
        }
      }
    }
  }

}

@media (max-width: 991.98px) {
  .card-order-steps {
    .ant-steps-item-tail {
      top: 9px;
      margin-left: 15px;
    }

    .ant-steps-item-tail::after {
      height: 6px;
      margin-left: 19px;
    }

    .ant-steps-item-icon {
      width: 24px !important;
      height: 24px !important;
      line-height: 22px !important;
      margin-left: 11px;

      .ant-steps-icon {
        font-size: 16px;

        img {
          width: 10px;
        }
      }
    }

    .ant-steps-item-content {
      width: 44px;
    }

    .ant-steps-item-process {
      .ant-steps-item-container {
        .ant-steps-item-icon {
          width: 24px !important;
          height: 24px !important;
          line-height: 22px !important;
        }

        .ant-steps-item-content {
          .ant-steps-item-title {
            font-size: 12px;
            line-height: 14px;
          }
        }
      }
    }

    .ant-steps-item-wait {
      .ant-steps-item-container {
        .ant-steps-item-content {
          .ant-steps-item-title {
            font-size: 12px;
            line-height: 14px;
          }
        }
      }
    }

    .ant-steps-item-finish {
      .ant-steps-item-container {
        .ant-steps-item-icon {
          .ant-steps-icon {
            top: -2px;
          }
        }

        .ant-steps-item-content {
          .ant-steps-item-title {
            font-size: 12px;
            line-height: 14px;
          }
        }
      }
    }

  }
}
