.wire-transfer-card {
  margin-bottom: 21px;
  box-shadow: 0 2px 4px 0 rgb(96 97 112 / 16%), 0 0 1px 0 rgb(40 41 61 / 4%);
  border-radius: 10px;

  .custom-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 24px 8px 24px;
    background-color: #f8f9fa;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    .title {
      font-family: UbuntuMedium, sans-serif;
      font-size: 20px;
      font-weight: 500;
      color: #050505;
    }
  }

  .custom-card-body {
    background-color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 24px 0 29px 0;

    .custom-radio-input-wire-transfer {
      display: flex;
      flex-direction: column;

      .bank-text{
        font-family: UbuntuMedium, sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: normal;
        color: #1d2228;
        padding: 0 26px 17.5px 24px;
        margin-bottom: 0;
        display: none;
      }

      label {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 17.5px 26px 19.5px 24px;
        border-top: solid 1px;
        border-color: #eaecef;

        .ant-radio {
          top: 0;
          left: 0;

          .ant-radio-inner {
            width: 24px;
            height: 24px;
            background: #f8f8f8;
            border: solid 2px #4d5868;
          }

          .ant-radio-inner::after {
            width: 14px;
            height: 14px;
            background-color: #6b7789;
          }
        }
      }

      .bank-list-item {
        display: none;

        label {
          display: flex;
          align-items: center;
          margin: 0;
          padding: 17.5px 26px 19.5px 24px;
          border-top: solid 1px;
          border-color: #eaecef;

          .ant-radio {
            top: 0;
            left: 0;

            .ant-radio-inner {
              width: 24px;
              height: 24px;
              background: #f8f8f8;
              border: solid 2px #4d5868;
            }

            .ant-radio-inner::after {
              width: 14px;
              height: 14px;
              background-color: #6b7789;
            }
          }

          span:nth-child(2) {
            padding-left: 18px !important;
            display: flex;

            .bank-logo {
              width: 119px;
              max-width: 119px;
              max-height: 38px;
              display: inline-block;
              background-color: #ddd;

              img {
                max-width: 119px;
              }
            }

            .bank-name {
              font-size: 14px;
              color: #3f4957;
              font-family: UbuntuLight, sans-serif;
              line-height: 23px;

              .bold-text {
                font-family: UbuntuMedium, sans-serif;
                font-weight: 500;
                margin-right: 5px;
              }
            }
          }
        }

        .bank-info-text {
          padding: 0 31px 23.5px 65px;
          font-size: 14px;
          color: #3f4957;
          font-family: UbuntuLight, sans-serif;
          line-height: 23px;
          display: none;

          &.active {
            display: block;
          }
        }
      }

      .other-banks-content {
        .label-text {
          font-family: UbuntuMedium, sans-serif;
          font-weight: 500;
          font-size: 16px;
          letter-spacing: 0;
          line-height: 23px;
          color: #1d2228;
          padding: 23.5px 26px 16.5px 27px;
          border-top: solid 1px;
          border-bottom: solid 1px;
          border-color: #eaecef;
          margin-bottom: 15.5px;
        }

        .ant-radio-wrapper {
          padding:0 26px 0 24px;
          border-top: none;

          span:nth-child(2) {
            font-size: 18px;
            font-family: UbuntuMedium, sans-serif;
            line-height: 23px;
            letter-spacing: 0;
            color: #3f4957;
          }
        }

        .other-banks-list-content {
          margin-top: 19px;
          padding: 0 31px 0 27px;

          .info-text {
            font-size: 14px;
            font-family: UbuntuRegular, sans-serif;
            color: #1d2228;
            display: block;
            margin-bottom: 21px;
          }

          .other-banks-list {
            display: flex;
            flex-wrap: wrap;
            column-gap: 14px;
            row-gap: 18px;

            .info-box {
              width: 368px;
              height: 152px;
              padding: 9px 17px 12px 24px;
              background-color: #f2f4f5;
              border-radius: 6px;
              color: #1d2228;
              position: relative;
              overflow: hidden;

              .template-logo {
                width: 81px;
                height: 21px;
                max-height: 21px;
                //background-color: #b5b5b5;
                display: block;
                margin-bottom: 5px;
                line-height: 21px;

                img{
                  max-width: 81px;
                }
              }

              .info-item {
                &.info-bank {
                  display: grid;
                  grid-template-columns: auto auto;
                }

                .title {
                  font-family: UbuntuMedium, sans-serif;
                  font-size: 12px;
                  line-height: 21px;
                  font-weight: 500;
                  margin-right: 12px;
                  width: 63px;
                  display: inline-flex;
                }

                .description {
                  font-family: UbuntuRegular, sans-serif;
                  font-size: 12px;
                  line-height: 21px;
                  transition: 250ms all;
                }

                .copy-btn {
                  font-family: UbuntuRegular, sans-serif;
                  text-decoration: underline;
                  color: #6b7789;
                  font-size: 10px;
                  line-height: 21px;
                  margin-left: 14px;
                  cursor: pointer;
                }
              }
            }

            .copied-box {
              transition: 200ms all;
            }

            .copied-box::before {
              content: attr(data-text);
              color: #1d2228;
              transition: 200ms all;
              width: 100%;
              height: 100%;
              background: rgba(242, 244, 245, 0.68);
              position: absolute;
              left: 0;
              top: 0;
              font-size: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }

    }
  }
}


@media (max-width: 1024.98px) {
  .wire-transfer-card {
    .custom-card-header {
      padding: 11px 24px 15px 18px;
      border-top-right-radius: 4px !important;
      border-top-left-radius: 4px !important;
      flex-direction: column;
      align-items: flex-start;

      .title {
        font-size: 16px;
        color: #050505;
      }
    }

    .custom-card-body {
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      padding: 18px 0 24px 0;

      .custom-radio-input-wire-transfer {
        display: flex;
        flex-direction: column;

        .bank-text{
          font-size: 14px;
          line-height: 17px;
          padding: 0 24px 19.5px 18px;
        }

        label {
          padding: 15.5px 18px 19.5px 18px;

          span:nth-child(2) {
            color: #1d2228;
            padding-left: 16px !important;

            .bank-name{
              font-size: 12px;
              line-height: 15px;
              flex-direction: column;
            }
          }
        }

        .bank-info-text{
          padding: 0 18px 18.5px 18px;
          font-size: 12px;
          color: #3f4957;
          font-family: UbuntuLight, sans-serif;
          line-height: 16px;
        }

        .other-banks-content {
          .label-text {
            display: none;
          }

          .ant-radio-wrapper {
            padding-top: 17.5px;
            border-top: solid 1px;
            border-color: #eaecef;

            span:nth-child(2) {
              font-size: 14px;
              line-height: 17px;
              letter-spacing: 0;
              color: #1d2228;
              padding-right: 0;
            }
          }

          .other-banks-list-content {
            margin-top: 12px;
            padding: 0 13px 0 20px;

            .info-text {
              font-size: 14px;
              margin-bottom: 22px;
              line-height: normal;
            }

            .other-banks-list {

              .info-box {
                width: 291px;
                height: 176px;
                padding: 9px 6px 15px 15px;
                border-radius: 6px;

                .info-item {

                  &.info-bank {
                    display: grid;
                    grid-template-columns: auto auto;
                  }

                  .title {
                    margin-right: 4px;
                  }

                  .copy-btn {
                    font-family: UbuntuRegular, sans-serif;
                    text-decoration: underline;
                    color: #6b7789;
                    font-size: 10px;
                    line-height: 21px;
                    margin-left: 0;
                    cursor: pointer;
                    display: block;
                  }
                }
              }
            }
          }
        }

      }
    }

  }
}