.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 24px 17px;

  .add-btn {
    width: 217px !important;
    background: #00a483 !important;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    line-height: 0.86;
    padding: 9px 16px;

    img {
      margin-right: 10px;
    }
  }
  .search-btn {
    width: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #3f4957;
    color: #fff;
    line-height: 20px;
    font-family: UbuntuMedium, sans-serif;
    border-radius: 10px;
  }
}

@media (max-width: 360px) {
  .table-header {
    padding: 10px 4px;
  }
}
