.table-filter {
  background-color: #eceef0;
  .filter-form {
    .form-item {
      display: grid;
      // align-items: center;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      column-gap: 24px;
      padding: 26px 24px 0px 48px;

      .ant-form-item {
        flex-wrap: nowrap;
        margin-bottom: 24px;

        .ant-form-item-label {
          label {
            margin-bottom: 0;
            margin-right: 0;
            color: #3f4957;
            height: 36px;
            white-space: break-spaces;
            overflow: unset;
            text-align: left;
          }

          label::after {
            content: '';
          }
        }
      }

      .footer-form-item {
        margin-bottom: 0;
        height: 48px;
        width: 100%;
        align-items: self-start;
      }
    }
    .form-footer {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      align-items: center;
      padding: 0 10px 10px 0;

      .action-buttons {
        .clear-btn {
          background: none;
          border: none;
          box-shadow: none;
          font-size: 16px;
          line-height: 20px;
          text-decoration: underline !important;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 58px;

          margin-right: 24px;
          color: #3f4957;
        }

        .search-btn {
          width: 127px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          background-color: #3f4957;
          color: #fff;
          line-height: 20px;
          border-radius: 10px;

          .icon-search {
            margin-right: 15px;
          }
        }
      }
    }
  }
}
@media (max-width: 577.98px) {
  .table-filter {
    padding: 0;

    .filter-form {
      .form-item {
        column-gap: 24px;
        flex-direction: column;
        padding: 17px 24px 40px 24px !important;

        .ant-form-item {
          flex-wrap: wrap !important;
          align-items: flex-start !important;
          flex-direction: column;
          width: 100%;
          margin-bottom: 14px !important;

          .ant-form-item-label {
            label {
              width: 100% !important;
              height: unset !important;
              justify-content: flex-start;
              white-space: break-spaces;
              overflow: unset;
              margin-bottom: 8px;
            }
          }

          .ant-form-item-control {
            width: 100%;

            .ant-form-item-control-input {
              .ant-form-item-control-input-content {
                input,
                .ant-picker,
                .ant-select {
                  width: 100% !important;
                  max-width: 100% !important;
                }
              }
            }
          }
        }

        .footer-form-item {
          margin-bottom: 0 !important;
        }

        .form-footer {
          flex-direction: column;

          .action-buttons {
            display: flex;
            align-items: center;
            flex-direction: column;

            .clear-btn {
              height: 44px !important;
              margin-right: 0 !important;
            }

            .search-btn {
              height: 44px !important;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 578px) {
  .table-filter {
    padding: 0;
  }
}
