@font-face {
  font-family: "UbuntuLight";
  src: url("./fonts/Ubuntu-light.ttf");
}
@font-face {
  font-family: "UbuntuRegular";
  src: url("./fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "UbuntuMedium";
  src: url("./fonts/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: "UbuntuBold";
  src: url("./fonts/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: "Edenred";
  src: url("./fonts/edenred.otf") format("opentype");
}

@font-face {
  font-family: "EdenredBold";
  src: url("./fonts/edenred_bold.otf") format("opentype");
}

@font-face {
  font-family: "EdenredBlack";
  src: url("./fonts/edenred_black.otf") format("opentype");
}

@font-face {
  font-family: "EdenredLight";
  src: url("./fonts/edenred_light.otf") format("opentype");
}

@font-face {
  font-family: "EdenredLighItalict";
  src: url("./fonts/edenred_light_italic.otf") format("opentype");
}
