.passwordList-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;

    .rules-container{

        .rule-row{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }

    .addRules-btn{
        display:flex;
        justify-content: center;
        margin:20px
    }

    .editRules-btn{
        display:flex;
        align-items: flex-end;
        justify-content: end;
        margin:20px
    }

    .add-btn {
        width: 217px !important;
        background: #00a483 !important;
        // height: 36px;
        // font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        border-radius: 6px;
        line-height: 0.86;
        padding: 9px 16px;
  
        
      }
}


.password-modal {
    width: 600px !important;
  
    .ant-modal-content {
      .ant-modal-body {
        padding: 24px;

        input{
            width: 300px !important;
        }

        .custom-select{
            width: 300px !important;
        }
  
        .custom-form-item {
            // margin-bottom: 27px;
            // display:flex;
            // position:absolute;
            // right: 10
            margin-right: 0;
          }

        .password-container {
          .password-link-form {
            .ant-form-item {
              .ant-form-item-label {
                width: 137px;
  
                label {
                  // font-size: 14px;
                  margin-top: 7px;
                }
              }
  
              .ant-form-item-control {
                .ant-form-item-control-input {
                  .ant-form-item-control-input-content {
                    // input {
                    //   // font-size: 14px;
                    //   width: 300px !important
                    // }
  
                    .ant-select {
                      // font-size: 14px;
                      width: 287px;
  
                      // .ant-select-selector {
                      //   padding: 1px 10px !important;
                      // }
                    }
                  }
                }
              }
            }
  
            .footer-form-item {
              margin-bottom: 0;
  
              .ant-form-item-control {
                .ant-form-item-control-input {
                  .ant-form-item-control-input-content {
                    display: flex;
                    justify-content: flex-end;
                  }
                }
              }
            }
  
            .ant-tooltip {
              visibility: hidden !important;
            }
  
            .submit-btn {
              background-color: #699a00;
              color: #fff;
              width: 106px;
              // height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-family: UbuntuMedium, sans-serif;
              // font-size: 14px;
              line-height: 12px;
              border-radius: 4px;
              outline: 0;
              box-shadow: none;
              border: none;
            }
  
            .upload-error {
              color: #f5222d;
              font-size: 14px;
              line-height: 14px;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
  
  @media (max-width: 991.98px) {
    .password-modal {
      .password-link-form {
        .ant-form-item {
          .ant-form-item-control {
            .ant-form-item-control-input {
              .ant-form-item-control-input-content {
                .ant-select {
                  width: 100% !important;
                }
              }
            }
          }
        }
      }
    }
  }
  