.passwordList-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .addRules-btn{
        margin:20px
    }

    .add-btn {
        width: 217px !important;
        background: #00a483 !important;
        // height: 36px;
        // font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        border-radius: 6px;
        line-height: 0.86;
        padding: 9px 16px;
  
        
      }
}