.draft-type-radio-input-content {
  display: flex;
  align-items: center;
  padding: 36px 0 27px 0;

  label {
    display: flex;
    align-items: center;
    margin: 0;

    .ant-radio {
      top: 0;
      left: 0;

      .ant-radio-inner {
        width: 24px;
        height: 24px;
        background: #f8f8f8;
        border: solid 2px #4d5868;
      }

      .ant-radio-inner::after {
        width: 14px;
        height: 14px;
        background-color: #6b7789;
      }
    }

    span:nth-child(2) {
      font-size: 18px;
      color: #3f4957;
      font-family: UbuntuMedium, sans-serif;
      line-height: 23px;
    }

    .new-order-draft {
      margin-left: 16px;
    }

    .balance-upload-draft {
      margin-left: 19px;
    }

  }

  label span:nth-child(2) {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .ant-radio-wrapper {
    transition: 300ms all;
  }

  .ant-radio-wrapper-unchecked {
    opacity: 0.3;
    transition: 300ms all;
  }
}

.draft-type-radio-input-content label:nth-child(1) {
  margin-right: 83px;
}

@media (max-width: 991.98px) {
  .draft-type-radio-input-content {
    padding: 12px 0 12px 18px !important;

    label {

      span:nth-child(2) {
        font-size: 14px !important;
        color: #3f4957;
        font-family: UbuntuMedium, sans-serif;
        line-height: 18px !important;
      }

      .new-order-draft {
        margin-left: 12px !important;
      }

      .balance-upload-draft {
        margin-left: 12px !important;
      }
    }
  }

  .draft-type-radio-input-content label:nth-child(1) {
    margin-right: 44px !important;
  }
}