.question-difficulty-statistic {
  .ant-statistic {
    border: 1px solid #f0f0f0;
    background: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
}
