.add-packages-container {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  .quill-error .ql-snow {
    border: 1px solid red;
  }
  .ql-toolbar {
    border-radius: 4px 4px 0 0;
  }
  .ql-container.ql-snow {
    border-radius: 0 0 4px 4px;
  }
  .ql-disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
  }
  .addPackagesInfo-link-form {
    border-radius: 5px;
    width: 100%;
    max-width: 1200px;
    margin: 0 1px 0 0;
    padding: 15px 16px 26px;
    background-color: #fff;

    .ant-form-item {
      .ant-form-item-label {
        width: 200px;

        label {
          margin-top: 7px;
        }
      }

      .ant-form-item-control {
        .ant-form-item-control-input {
          .ant-form-item-control-input-content {
            input {
            }

            .ant-select {
              width: 287px;

              .ant-select-selector {
                padding: 1px 10px !important;
              }
            }
          }
        }
      }
    }

    .ant-tooltip {
      visibility: hidden !important;
    }

    .footer-form-item {
      margin-bottom: 0;

      .ant-form-item-control {
        .ant-form-item-control-input {
          .ant-form-item-control-input-content {
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }

    .upload-btn {
      font-weight: normal;
      font-family: UbuntuRegular;
      color: #6b7789;
      &:hover {
        border-color: #0d6efd;
      }
    }

    .submit-btn {
      background-color: #699a00;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: UbuntuMedium, sans-serif;
      line-height: 12px;
      border-radius: 4px;
      outline: 0;
      box-shadow: none;
      border: none;
    }

    .cancel-btn {
      background-color: grey;
      color: #fff;
      justify-content: center;
      align-items: center;
      font-family: UbuntuMedium, sans-serif;
      line-height: 12px;
      border-radius: 4px;
      outline: 0;
      box-shadow: none;
      border: none;
    }
    .back-btn {
      background-color: #162056;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: UbuntuMedium, sans-serif;
      line-height: 12px;
      border-radius: 4px;
      outline: 0;
      box-shadow: none;
      border: none;
    }
  }

  .quill {
    height: 180px;
    margin-bottom: 45px;
  }

  @media (max-width: 768px) {
    .editor {
      .ant-form-item-control {
        height: 250px;
      }
    }
  }
}
