.add-packages-container {
  display: flex;
  width: 100%;
  margin: 15px;
  .quill-error .ql-snow {
    border: 1px solid red;
  }
  .ql-toolbar {
    border-radius: 4px 4px 0 0;
  }
  .ql-container.ql-snow {
    border-radius: 0 0 4px 4px;
  }
  .ql-disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
  }
  .addPackagesInfo-link-form {
    border-radius: 5px;
    width: 100%;
    max-width: 1200px;
    margin: 0 1px 0 0;
    padding: 15px 16px 26px;
    background-color: #fff;

    .has-trying-test-wrapper {
      display: flex;
      gap: 40px;
      .has-tryin-test-count {
        width: 300px;
      }
    }

    .package-books-wrapper {
      display: flex;
      gap: 50px;
    }

    .ant-form-item {
      .ant-form-item-label {
        min-width: 200px;

        label {
          margin-top: 7px;
        }
      }

      .ant-form-item-control {
        .ant-form-item-control-input {
          .max-net-count {
            width: 287px;
          }
          .ant-form-item-control-input-content {
            .ant-select {
              width: 287px;

              .ant-select-selector {
                padding: 1px 10px !important;
              }
            }
          }
        }
      }
    }

    .ant-tooltip {
      visibility: hidden !important;
    }

    .footer-form-item {
      margin-bottom: 0;

      .ant-form-item-control {
        .ant-form-item-control-input {
          .ant-form-item-control-input-content {
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }

    .add-package-footer {
      display: flex;
      justify-content: end;
      gap: 10px;
      margin-top: 10px;
      .save-btn {
        background-color: #699a00;
        border: none;
      }
      .cancel-btn {
        background-color: gray;
        border: none;
      }
    }
  }

  .quill {
    height: 180px;
    margin-bottom: 45px;
  }

  @media (max-width: 768px) {
    .editor {
      .ant-form-item-control {
        height: 250px;
      }
    }
  }
}

.action-btns {
  display: flex;
  justify-content: center;
  gap: 3px;

  .btn {
    display: flex;
    height: 36px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: UbuntuMedium, sans-serif;
    font-size: 12px;
    line-height: 12px;
    border-radius: 4px;
    box-shadow: none;
  }

  .detail-btn {
    width: 90px;
    background-color: #3f4957;
  }

  .delete-btn {
    width: 33px;
    background-color: #f72717;
  }

  .copy-btn {
    width: 90px;
    background-color: #2d5f70;
  }
}
