.table-head {
  padding-left: 20px;
}
.edit-button {
  width: 100px;
  font-size: 13px;
  height: 35px;
}
.delete-button {
  width: 100px;
  font-size: 13px;
  height: 35px;
}

.ant-form-item-label {
  width: 160px;

  label {
    margin-top: 7px;
  }
}
