.table-head {
  padding-left: 20px;
}
.publisher-modal {
  .ant-modal-content {
    width: 600px;
  }
}
.edit-button {
  width: 100px;
  font-size: 13px;
  height: 35px;
}
.ant-form-item-label {
  width: 137px;

  label {
    // font-size: 14px;
    margin-top: 7px;
  }
}
