.card-order-content {
  margin-bottom: 24px;
  .custom-radio-input-content {
    display: flex;
    align-items: center;
    label {
      display: flex;
      align-items: center;
      margin: 0;

      .ant-radio {
        top: 1em;

        .ant-radio-inner {
          width: 24px;
          height: 24px;
          background: #f8f8f8;
          border: solid 2px #4d5868;
        }
      }

      .ant-radio-inner::after {
        width: 14px;
        height: 14px;
        background-color: #6b7789;
      }
    }
    label span:nth-child(2) {
      display: flex;
      align-items: center;
      padding: 0;
      .classic-card-image {
        width: 147px;
        margin-right: 16.9px;
        margin-left: 17px;
      }
      .digital-card-image {
        width: 121px;
        margin-right: 16px;
        margin-left: 16px;
      }
      div {
        h4 {
          color: #3f4957;
          font-family: UbuntuMedium, sans-serif;
          font-size: 18px;
          margin-bottom: 12px;
          line-height: 23px;
        }
        p {
          font-size: 14px;
          font-family: UbuntuRegular, sans-serif;
          line-height: 16px;
          color: #3f4957;
          margin-bottom: unset;
        }
      }
      .classic-card-description {
        p {
          width: 153px;
        }
      }
      .digital-card-description {
        p {
          width: 176px;
        }
      }
    }

    .ant-radio-wrapper {
      transition: 300ms all;
    }
    .ant-radio-wrapper-unchecked {
      opacity: 0.3;
      transition: 300ms all;
    }
  }
  .custom-radio-input-content label:nth-child(1) {
    margin-right: 64px;
  }

  .card-parameter-container {
    padding: 11px 26px 6px 24px;
    display: flex;

    .card-parameter-description {
      p {
        font-size: 14px;
        line-height: 18px;
        color: #3f4957;
        font-family: "UbuntuRegular", sans-serif;
        padding-top: 9px;
        margin-bottom: 38px;
      }

      .card-parameters-form {
        .parameters-form-item {
          display: flex;
          align-items: center;
          margin-bottom: 6px;
          .parameters-form-item-label {
            display: flex;
            align-items: center;
            div {
              font-size: 14px;
              font-family: UbuntuMedium, sans-serif;
              line-height: 16px;
              color: #3f4957;
              width: 140px;
              margin-right: 19px;
            }
          }

          .parameter-input-contain {
            display: flex;
            align-items: center;
            margin-left: 21px;
            input {
              border-radius: 4px;
              width: 264px;
              height: 36px;
              border-color: #adb5bd;
              padding: 10px 14px 10px 14px;
              margin-right: 16px;
              font-family: "UbuntuRegular", sans-serif;
              font-size: 14px;
              color: #3f4957;
            }
            span {
              text-decoration: underline;
              font-size: 14px;
              font-family: UbuntuRegular, sans-serif;
              color: #3f4957;
              cursor: pointer;
            }
          }
        }
      }
    }

    .card-template-image {
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
      margin-left: 38px;
      img {
        max-width: 301px;
      }
    }

    @media (max-width: 1260.98px) {
      .card-template-image {
        margin-left: 5px;
      }

      img {
        width: 250px;
      }
    }
  }
}

.card-order-steps {
  margin-bottom: 24px;

  .ant-steps-item-tail {
    top: 16px;
    padding: 0;
    //padding: 0 10px;
    margin-left: 70px;
  }

  .ant-steps-item-tail::after {
    height: 8px;
    background-color: #dee2e6 !important;
    margin-left: 19px;
  }

  .ant-steps-item-content {
    margin-top: 10px;
  }

  .ant-steps-item-icon {
    width: 38px !important;
    height: 38px !important;
    line-height: 38px !important;
    background-color: #dee2e6;
    border-color: transparent !important;
    margin-left: 51px;
    .ant-steps-icon {
      font-size: 20px;
      font-family: UbuntuMedium, sans-serif;
      font-weight: 500;
      color: #fff;
    }
  }

  .ant-steps-item-process {
    .ant-steps-item-container {
      .ant-steps-item-icon {
        background: #fff;
        border: solid 1.3px;
        border-color: #00a483 !important;
        .ant-steps-icon {
          color: #00a483;
        }
      }

      .ant-steps-item-content {
        .ant-steps-item-title {
          color: #00a483;
          font-family: UbuntuMedium, sans-serif;
          font-size: 14px;
          font-weight: 500;
          line-height: 19px;
        }
      }
    }
  }

  .ant-steps-item-wait {
    .ant-steps-item-container {
      .ant-steps-item-content {
        .ant-steps-item-title {
          color: #adb5bd;
          font-family: UbuntuMedium, sans-serif;
          font-size: 14px;
          font-weight: 500;
          line-height: 19px;
        }
      }
    }
  }

  .ant-steps-item-finish {
    .ant-steps-item-container {
      .ant-steps-item-tail::after {
        background-color: #00a483 !important;
      }

      .ant-steps-item-icon {
        background: #00a483;
        border: solid 1.3px;
        border-color: #00a483 !important;
        .ant-steps-icon {
          color: #fff;
          top: -2px;
          .anticon {
            vertical-align: 0 !important;
          }
        }
      }

      .ant-steps-item-content {
        .ant-steps-item-title {
          color: #adb5bd;
          font-family: UbuntuMedium, sans-serif;
          font-size: 14px;
          font-weight: 500;
          line-height: 19px;
        }
      }
    }
  }
}

.card-parameter-modal {
  .ant-modal-content {
    border-radius: 10px;
    .ant-modal-close {
      .ant-modal-close-x {
        display: unset !important;
        margin: 16px 24px;
      }
    }

    .ant-modal-header {
      height: 56px;
      background: #efefef;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 17px 0 16px 24px;
      .ant-modal-title {
        font-family: UbuntuMedium, sans-serif;
        font-size: 20px;
        color: #050505;
      }
    }
    .ant-modal-body {
      padding: 27px 28px 42px 24px;
      p {
        margin-bottom: 33px;
        font-size: 16px;
        font-family: UbuntuRegular, sans-serif;
        color: #1d2228;
      }

      .custom-radio-input-content {
        display: flex;
        align-items: center;
        margin-bottom: 42px;
        label {
          display: flex;
          align-items: center;
          margin-right: 42px;
          .ant-radio {
            top: 0;
            .ant-radio-inner {
              width: 24px;
              height: 24px;
              background: #f8f8f8;
              border: solid 2px #4d5868;
            }
          }

          .ant-radio-inner::after {
            width: 14px;
            height: 14px;
            background-color: #6b7789;
          }

          span:nth-child(2) {
            padding-right: 0;
            padding-left: 12px;
          }
        }

        label:last-child {
          margin-right: 0;
        }
      }

      .custom-parameter-modal-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        .custom-btn-cancel {
          font-family: UbuntuMedium, sans-serif;
          font-size: 16px;
          text-decoration: underline;
          color: #3f4957;
          cursor: pointer;
        }
        .custom-btn-primary {
          padding: 14px 36px;
          border-radius: 6px;
          background-color: #162056;
          font-size: 16px;
          font-weight: 500;
          font-family: UbuntuMedium, sans-serif;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.25;
          letter-spacing: normal;
          text-align: center;
          outline: none;
          box-shadow: none;
          margin-left: 32px;
          width: unset;
          color: #fff;
          height: 48px !important;
        }
      }
    }
  }
}

/*Mobile*/
@media (max-width: 1179.98px) {
  .card-order-content {
    .custom-radio-input-content {
      label {
        .ant-radio {
          top: -41px;
          left: 22px;
        }
      }

      label span:nth-child(2) {
        flex-direction: column;
        text-align: center;

        .classic-card-container-image {
          height: 95px;
        }

        .classic-card-image {
          width: 105px;
          margin-right: 16.9px;
          margin-left: 30px;
        }

        .digital-card-image {
          width: 85px;
          margin-right: 16px;
          margin-left: 16px;
        }

        div {
          h4 {
            color: #3f4957;
            font-family: UbuntuMedium, sans-serif;
            font-size: 16px;
            margin-bottom: 11px;
            line-height: 19px;
          }

          p {
            font-size: 12px;
            font-family: UbuntuRegular, sans-serif;
            line-height: 16px;
            color: #3f4957;
            margin-bottom: unset;
          }
        }

        .classic-card-description {
          p {
            width: 133px;
          }
        }

        .digital-card-description {
          p {
            width: 139px;
          }
        }
      }
    }

    .custom-radio-input-content label:nth-child(1) {
      //margin-right: 60px;
      margin-right: 0;
    }

    .card-parameter-container {
      padding: 7px 18px 8px 18px;

      .card-template-image {
        display: none;
      }

      .card-parameter-description {
        p {
          font-size: 12px;
          line-height: 16px;
          padding-top: 0;
          margin-bottom: 11px;
        }

        .card-parameters-form {
          .parameters-form-item {
            display: flex;
            align-items: center;
            margin-bottom: 6px;

            .parameters-form-item-label {
              display: flex;
              align-items: center;

              div {
                font-size: 14px;
                font-family: UbuntuMedium, sans-serif;
                line-height: 16px;
                color: #3f4957;
                width: 140px;
                margin-right: 19px;
              }
            }

            .parameter-input-contain {
              display: flex;
              align-items: center;
              margin-left: 21px;

              input {
                width: 228px;
                margin-right: 18px;
              }
            }
          }

          .parameters-form-item:nth-child(2) {
            display: inline-flex;
            margin-bottom: 14px;
            flex-direction: column;
            align-items: flex-start;

            .parameter-input-contain {
              margin-left: 0;
              margin-top: 12px;
            }
          }
        }
      }
    }
  }

  .card-parameter-modal {
    width: 327px !important;

    .ant-modal-content {
      border-radius: 10px;

      .ant-modal-close {
        .ant-modal-close-x {
          display: unset !important;
          margin: 17px;
          line-height: 44px;
        }
      }

      .ant-modal-header {
        height: 47px;
        padding: 17px 0 9px 18px;

        .ant-modal-title {
          font-size: 16px;
          color: #162056;
        }
      }

      .ant-modal-body {
        padding: 24px 10px 31px 18px;

        p {
          margin-bottom: 31px;
          font-size: 14px;
          line-height: 20px;
        }

        .custom-radio-input-content {
          margin-bottom: 48px;
          flex-direction: column;

          label {
            margin-right: 0;
            margin-bottom: 31px;

            .ant-radio {
              left: -10px;
            }

            .ant-radio-inner::after {
              width: 14px;
              height: 14px;
              background-color: #6b7789;
            }

            span:nth-child(2) {
              padding-left: 0;
              width: 120px;
            }
          }

          label:last-child {
            margin-bottom: 0;
          }
        }

        .custom-parameter-modal-footer {
          display: flex;
          align-items: center;
          justify-content: center;

          .custom-btn-cancel {
            font-size: 14px;
            padding: 5px 38px 0 20px;
          }

          .custom-btn-primary {
            padding: 11px 42px;
            font-size: 14px;
            margin-left: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 991.98px) {
  .card-order-steps {
    .ant-steps-item-tail {
      top: 9px;
      margin-left: 15px;
    }

    .ant-steps-item-tail::after {
      height: 6px;
      margin-left: 19px;
    }

    .ant-steps-item-icon {
      width: 24px !important;
      height: 24px !important;
      line-height: 22px !important;
      margin-left: 11px;
      .ant-steps-icon {
        font-size: 16px;
        img {
          width: 10px;
        }
      }
    }

    .ant-steps-item-content {
      width: 44px;
    }

    .ant-steps-item-process {
      .ant-steps-item-container {
        .ant-steps-item-icon {
          width: 24px !important;
          height: 24px !important;
          line-height: 22px !important;
        }

        .ant-steps-item-content {
          .ant-steps-item-title {
            font-size: 12px;
            line-height: 14px;
          }
        }
      }
    }

    .ant-steps-item-wait {
      .ant-steps-item-container {
        .ant-steps-item-content {
          .ant-steps-item-title {
            font-size: 12px;
            line-height: 14px;
          }
        }
      }
    }

    .ant-steps-item-finish {
      .ant-steps-item-container {
        .ant-steps-item-icon {
          .ant-steps-icon {
            top: -2px;
          }
        }
        .ant-steps-item-content {
          .ant-steps-item-title {
            font-size: 12px;
            line-height: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 374.98px) {
  .card-order-content {
    .custom-radio-input-content {
      flex-direction: column;
    }

    .card-parameter-container {
      padding: 7px 18px 8px 18px;

      .card-parameter-description {
        .card-parameters-form {
          .parameters-form-item {
            .parameter-input-contain {
              margin-left: 10px;

              input {
                width: 170px;
                margin-right: 8px;
              }
            }
          }
        }
      }
    }
  }
}
