.card-order-completed-content {
  background: #fff;
  border-radius: 10px;
  padding: 12px 12px 37px 12px;
  box-shadow: 0 2px 4px 0 rgb(96 97 112 / 16%), 0 0 1px 0 rgb(40 41 61 / 4%);
  font-family: UbuntuRegular, sans-serif;

  .success-order-header-content {
    background: #f4f8fd;
    border-radius: 10px;
    padding: 36px 117px 36px 118px;
    text-align: center;
    font-family: UbuntuRegular, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;

    img {
      margin-bottom: 15px;
      width: 74px;
      height: 74px;
    }

    h1 {
      font-size: 37px;
      color: #162056;
      margin-bottom: 18px;
      display: inline-block;
      margin-left: -21px;
    }

    h5 {
      margin-bottom: 19px;
      color: #162056;
      font-size: 24px;
      letter-spacing: -0.3px;
      display: inline-block;
      margin-left: -7px;

      span {
        color: #f72717;
      }
    }

    p {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 0;
      color: #3f4957;
      margin-left: -16px;

      span {
        font-family: UbuntuBold, sans-serif;
      }
    }
  }

  .description-list {
    padding-left: 68px;
    padding-right: 107px;
    margin-bottom: 37px;

    p {
      font-size: 14px;
      line-height: 20px;
      color: #3f4957;
      margin-bottom: 22px;
      position: relative;
      padding-left: 20px;

      span {
        font-family: UbuntuBold, sans-serif;
      }
    }

    p:before {
      content: "";
      position: absolute;
      top: 6px;
      left: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #6b7789;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;

    .btn-ghost {
      padding: 14px 18px;
      border-radius: 6px;
      border: solid 0.5px #6c757c;
      display: inline-flex;
      align-items: center;
      color: #4d5868;
      width: 184px;
      height: 48px;

      span {
        font-family: UbuntuMedium, sans-serif;
        font-size: 16px;
        letter-spacing: -0.03px;
        font-weight: 500;
        line-height: 20px;
        margin-left: 11px;
      }
    }

    .btn-orange {
      padding: 14px 24px;
      border-radius: 6px;
      display: inline-flex;
      align-items: center;
      color: #fff;
      height: 48px;
      background: #f66301;
      margin-left: 18px;

      span {
        font-family: UbuntuMedium, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
      }
    }

    .btn-orange:hover {
      border-color: #f66301;
    }
  }
}

@media (max-width: 991.98px) {
  .card-order-completed-content {
    padding: 10px 8px 18px 8px;
    margin-bottom: 24px;

    .success-order-header-content {
      padding: 23px 23px 29px 22px;
      margin-bottom: 26px;

      img {
        width: 48px;
        height: 48px;
      }

      h1 {
        font-size: 32px;
        margin-left: -9px;
        margin-top: 2px;
      }

      h5 {
        font-size: 16px;
        margin-left: 0;
        margin-top: 1px;
      }

      p {
        font-size: 14px;
        margin-left: unset;
      }
    }

    .description-list {
      padding-left: 0;
      padding-right: 21px;
      margin-bottom: 20px;

      p {
        margin-bottom: 20px;
      }
    }

    .footer-content {
      flex-direction: column;

      .btn-orange {
        margin-left: 0;
        margin-top: 24px;
      }
    }
  }
}

.card-order-completed-swiper-content {
  margin-top: 21px;
  margin-bottom: 35px;

  .mobile-swiper-slider-list {
    overflow: inherit;

    .swiper-pagination {
      width: 245px;
      height: 22px;
      transform: translate(16%, 0%);
      overflow: hidden;
    }

    .swiper-slide-next,
    .swiper-slide-prev {
      opacity: 0.39;
    }

    .swiper-slide-active {
      opacity: 1;
    }
  }

  .custom-swiper {
    padding-bottom: 22px;

    .swiper-pagination {
      bottom: 0;
      .swiper-pagination-bullet {
        width: 73px;
        height: 4px;
        display: inline-block;
        border-radius: unset;
        background: #bbc7cb;
        opacity: 1;
      }

      .swiper-pagination-bullet-active {
        background: #4d5868;
      }
    }
    .swiper-wrapper {
      .swiper-slide {
        background: #d8271b;
        padding: 24px 0 18px;
        color: #fff;
        border-radius: 10px;
        display: flex;
        align-items: center;
        img {
          width: 408px;
        }

        .swiper-description-content {
          margin-left: 59px;
          margin-top: 4px;
          .swiper-title {
            font-size: 42px;
            color: #fff;
            line-height: 50px;
            h4 {
              font-size: 42px;
              color: #fff;
              padding-left: 8px;
              margin-bottom: 0;
            }
            span {
              background: #162056;
              border-radius: 6px;
              height: 53px;
              padding: 0 13px 0 5px;
              width: 233px;
              letter-spacing: -1px;
              margin-right: 5px;
            }
          }
          p {
            margin-top: 20px;
            font-size: 18px;
            font-family: UbuntuRegular, sans-serif;
            padding: 0 60px 0 9px;
            letter-spacing: 0;
            line-height: normal;
            span {
              font-family: UbuntuMedium, sans-serif;
              text-decoration: underline;
            }
          }
          .small-text {
            font-size: 12px;
            font-family: UbuntuRegular, sans-serif;
            color: #fff;
            letter-spacing: normal;
            padding-left: 9px;
            display: block;
            margin-bottom: 16px;
          }
          img {
            width: 168px;
            cursor: pointer;
            margin-left: 10px;
          }
        }
      }

      .mobile-swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 29px 0 12px;

        width: calc(100% - 6.112%);
        .swiper-header {
          display: flex;
          align-items: center;
          img {
            width: 138px;
          }
          .swiper-title {
            padding-left: 16px;
            font-size: 24px;
            line-height: 25px;
            color: #fff;
            h4 {
              font-size: 24px;
              line-height: 25px;
              color: #fff;
              margin-bottom: 0;
            }
            span {
              height: 28px;
              background: #162056;
              display: block;
              width: 136px;
              border-radius: 6px;
              padding: 3px 0 3px 3px;
              margin-left: -6px;
            }
          }
        }

        .swiper-description-content {
          margin-left: 19px;
          margin-top: 15px;
          p {
            margin-top: 0;
            font-size: 14px;
            font-family: UbuntuRegular, sans-serif;
            padding: 0 9px 0 0;
            line-height: 17px;
            margin-bottom: 10px;
          }
          .small-text {
            padding-right: 13px;
            font-size: 11px;
            padding-left: 0;
          }
        }
      }
    }

    .next-btn {
      position: absolute;
      top: 41.5%;
      right: 24px;
      z-index: 9999;
      cursor: pointer;
    }
    .prev-btn {
      position: absolute;
      top: 41.5%;
      left: 24px;
      z-index: 9999;
      cursor: pointer;
    }
    .swiper-button-disabled {
      opacity: 0.4;
      cursor: inherit;
    }
  }
}
