.delivery-address-add-form-item {
  .ant-form-item-label > label {
    color: #1d2228 !important;
  }
}

.delivery-address-add-modal {

  .ant-modal-content{
    .ant-modal-body{
      padding: 27px 28px 8px 24px !important;
    }
  }

  .ant-modal-footer {
    border-top: none !important;
    padding: 0 24px 24px 24px  !important;


    @media (max-width: 767.98px) {
      padding: 0 18px 32px 18px;

    }
  }
}

