.add-document-video {
  .add-btn {
    margin-top: 10px;
    background-color: #00a483;
    border: none;
  }
  .document-list {
    margin-top: 25px;
    .ant-list-item-meta {
      .ant-list-item-meta-avatar {
        span {
          svg {
            width: 32px;
            height: 48px;
          }
        }
      }
    }
    .ant-list-item-action {
      li {
        display: flex;
        align-items: center;
      }
    }
  }
  .btn-group {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    .next-btn {
      background-color: #699a00;
      border: none;
    }
    .back-btn {
      background-color: gray;
      border: none;
    }
  }
}
