.general-information-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .general-information-form {
    max-width: 1200px;
    column-gap: 24px;
    width: 100%;
    padding-right: 12px;
    .general-information-form-content {
      display: flex;
      gap: 10px;
      .left-form {
        flex: 1;
      }
      .right-form {
        flex: 1;
      }
    }
    .general-information-form-footer {
      display: flex;
      justify-content: flex-end;
      gap: 20px;
      .next-btn {
        background-color: #699a00;
        border: none;
      }
      .back-btn {
        background-color: gray;
        border: none;
      }
    }

    .ant-form-item {
      // width: 50%;
      .ant-form-item-control-input {
        .ant-form-item-control-input-content {
          //   input {
          //     font-size: 14px;
          //   }
          //   .ant-select {
          //     font-size: 14px;
          //   }
        }
        .add-btn {
          background-color: #00a483;
          border: none;
        }
      }
      .ant-form-item-label {
        label {
          //   font-size: 14px;
          margin-top: 7px;
        }
      }
    }
    .quill {
      .ql-toolbar {
        border-radius: 4px 4px 0 0;
      }
      .ql-container.ql-snow {
        border-radius: 0 0 4px 4px;
      }
    }
    .ant-form-item-has-error {
      .ant-form-item-control {
        .ant-form-item-control-input {
          .ant-form-item-control-input-content {
            .quill {
              .ql-toolbar.ql-snow + .ql-container.ql-snow {
                border-top: 0px;
              }
              .ql-snow {
                border: 1px solid red;
              }
            }
          }
        }
      }
    }
    .header-mark {
      font-size: 16px;
      display: flex;
      margin-left: 150px;
      justify-content: space-between;
      margin-bottom: 10px;
      font-weight: 500;
      padding-right: 20px;
      .title-mark {
        flex: 2;
      }
      .time-mark {
        flex: 1;
      }
    }
    .video-mark {
      display: flex;
      align-items: baseline;
      gap: 15px;
      justify-content: space-between;
      margin-left: 150px;
    }
  }
  .ant-upload-list-item-card-actions {
    z-index: 99;
  }
}
.intro-video-modal {
  .intro-video-list {
    .ant-list-item-meta {
      align-items: center;
    }
  }
  .add-intro-video-collapse {
    .ant-collapse-content {
      padding: 20px;
    }
  }
}
