.question-video {
    .add-btn {
        margin-top: 10px;
        background-color: #00a483;
        border: none;
        margin-left: 10px;
    }
    .upload-btn {
        background: #0f733d !important;
        color: #fff;
        border: none;
    }
    .question-list {
        .ant-list-item {
            justify-content: flex-start;
            gap: 10px;
            svg {
                width: 24px;
                height: 24px;
            }
            .answerIcon {
                svg {
                    opacity: 0.5;
                }
            }
            .bracketTime {
                margin-left: 5px;
                flex: 1;
            }
            .bracketHeader {
                margin-left: 30px;
                flex: 4;
            }
            .question {
                flex: 8;
            }
            .answer {
                flex: 8;
                opacity: 0.5;
            }
        }
        .ant-list-item-action {
            margin-left: auto;
            .question-delete {
                color: red;
            }
            .question-edit {
                color: #70b186;
            }
        }
    }
    .btn-group {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        .next-btn {
            background-color: #699a00;
            border: none;
        }
        .back-btn {
            background-color: gray;
            border: none;
        }
    }
}
