.active-card-list-card {
  .ant-collapse-item {
    .ant-collapse-content {
      padding: 24px 0 0 0;

      .ant-table-row-selected > td {
        background: transparent !important;
      }

      .ant-table-row {
        .editable-table-cell {
          .ant-form-item {
            .ant-form-item-control {
              .ant-form-item-control-input {
                .ant-form-item-control-input-content {
                  .ant-select {
                    .ant-select-selector {
                      padding: 2px 13px !important;
                      text-align: left;
                      font-size: 14px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .edited-btn {
        text-align: right;
        padding-right: 13px;
      }

      .ant-checkbox-wrapper
      .table-cell-address-choose {
        cursor: pointer;
        text-decoration: underline;
      }

      .table-cell-address-add {
        cursor: pointer;
        text-decoration: underline;
      }

      .ant-form-item-has-error {
        .table-cell-address-choose {
          color: #f5222d;
        }

        .table-cell-address-add {
          color: #f5222d;
        }
      }

      .table-header-validation {
        color: #f72717;
      }

      .table-row-add-btn:hover, .table-row-add-btn:focus, .table-row-add-btn:active {
        background-color: #101b52 !important;
        color: white !important;
      }

      .table-row-edit-btn {
        width: 70px;
        height: 36px;
        color: white !important;
        border-radius: 4px;
        background-color: #4d5868 !important;
        font-size: 12px;
        font-family: UbuntuMedium, sans-serif;
        line-height: 12px;
        border-color: #4d5868 !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 8px;

        &:disabled {
          opacity: 0.5;
        }
      }

      .table-row-cancel-action-btn {
        width: 110px;
        height: 36px;
        color: white !important;
        border-radius: 4px;
        background-color: #f72717 !important;
        font-size: 12px;
        font-family: UbuntuMedium, sans-serif;
        line-height: 12px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-color: #f72717 !important;
        margin-right: 8px;

        &:disabled {
          opacity: 0.5;
        }
      }

      .editable-row-save-btn {
        width: 70px;
        height: 36px;
        color: white !important;
        border-radius: 4px;
        background-color: #699a00 !important;
        font-size: 12px;
        font-family: UbuntuMedium, sans-serif;
        line-height: 12px;
        border-color: #699a00 !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 8px;
      }

      .editable-row-update-btn {
        width: 70px;
        height: 36px;
        color: white !important;
        border-radius: 4px;
        background-color: #699a00 !important;
        font-size: 12px;
        font-family: UbuntuMedium, sans-serif;
        line-height: 12px;
        border-color: #699a00 !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }

      .editable-row-give-up-btn {
        width: 37px;
        height: 13px;
        margin: 17.5px 8px 20.5px;
        font-family: UbuntuRegular, sans-serif;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #3f4957;
      }

      .ant-table-selection-column {
        padding-left: 8px;

        .ant-checkbox-wrapper {
          .ant-checkbox {
            top: 0.5em !important;
          }

          .ant-checkbox + span {
            padding-left: 18px !important;
          }

          .ant-checkbox-inner {
            position: relative;
            top: 0;
            left: 0;
            display: block;
            width: 24px;
            height: 24px;
            direction: ltr;
            background-color: #f8f8f8;
            border: 1px solid #a8a8a8;
            border-radius: 4px;
            border-collapse: separate;
            transition: all 0.3s;
          }

          .ant-checkbox-checked .ant-checkbox-inner {
            background-color: #f8f8f8;
            border-color: #4d5868;
          }

          .ant-checkbox-wrapper-checked {
            .checkbox-item-label {
              color: #3f4957;
            }
          }

          .ant-checkbox-checked .ant-checkbox-inner::after {
            position: absolute;
            display: table;
            border: 2px solid #000;
            border-top: 0;
            border-left: 0;
            transform: rotate(45deg) scale(1) translate(-50%, -50%);
            opacity: 1;
            transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
            content: ' ';
            height: 12px;
          }
        }
      }

      .card-list-table-footer {
        padding: 19px 24px 24px 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer-info-container {
          display: flex;
          align-items: center;
          column-gap: 16px;

          .address-update-btn {
            border-radius: 6px;
            width: 246px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #00a483;
            box-shadow: none;
            color: #fff;
            font-family: UbuntuMedium, sans-serif;
            font-size: 14px;
            line-height: 20px;

            img{
              margin-right: 15px;
            }
          }

          .card-cancel-btn {
            border-radius: 6px;
            width: 226px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f72717;
            box-shadow: none;
            color: #fff;
            font-family: UbuntuMedium, sans-serif;
            font-size: 14px;
            line-height: 20px;

            img{
              margin-right: 15px;
            }
          }
        }
      }

    }
  }
}


@media (max-width: 991.98px) {

  .active-card-list-card {
    .ant-collapse-item {
      .ant-collapse-content {
        padding: 16px 0 0 0;

        .card-list-table-footer {
          padding: 16px 0 32px 0;
          flex-direction: column;
          align-items: center;

          .custom-pagination {
            justify-content: center;
            margin-top: 10px;
          }

          .footer-info-container {
            flex-direction: column;
            margin-top: 24px;
            row-gap: 24px;

            .footer-info-content {
              margin-right: 0;
              margin-bottom: 25px;
              text-align: center;
            }
          }
        }
      }
    }
  }


}