.delivery-address-update-modal {
  width: 423px !important;

  .ant-modal-content {
    .ant-modal-body {
      padding: 16px 24px 24px 24px;

      .download-container {

        .delivery-address-update-form {
          .ant-form-item {
            column-gap: 12px;
            margin-bottom: 16px;
            align-items: center;

            .ant-form-item-label {
              width: 141px;

              label {
                font-size: 14px;
                margin-bottom: 0;
                margin-right: 0;
                color: #1d2228;
                font-family: UbuntuMedium, sans-serif;
                line-height: 26px;
                letter-spacing: 0;
              }

              :after {
                content: '';
              }
            }

            .ant-form-item-control {
              width: unset;

              .ant-form-item-control-input {
                .ant-form-item-control-input-content {
                  .ant-select {
                    width: 194px;
                    font-size: 14px;

                    .ant-select-selector {
                      width: 194px;
                      padding: 1px 13px !important;
                    }

                  }
                }
              }
            }
          }
        }

        .info-text {
          font-family: UbuntuMedium, sans-serif;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0;
          color: #3f4957;
          margin-bottom: 24px;

          span {
            color: #f72717;
          }
        }

        .footer-btn {
          display: flex;
          column-gap: 24px;

          .download-btn {
            background-color: #699a00;
            color: #fff;
            width: 105px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: UbuntuMedium, sans-serif;
            font-size: 14px;
            line-height: 12px;
            border-radius: 4px;
            outline: 0;
            box-shadow: none;
            border: none;
          }

          .cancel-btn {
            font-family: UbuntuMedium, sans-serif;
            color: #3f4957;
            font-size: 14px;
            line-height: 20px;
            border-radius: 4px;
            outline: 0;
            box-shadow: none;
            border: none;
            height: 40px;
            padding: 0;

            span {
              text-decoration: underline;

            }
          }
        }
      }

    }

  }
}

@media (max-width: 991.98px) {
  .delivery-address-update-modal {
    width: 319px !important;

    .ant-modal-content {
      .ant-modal-body {
        padding: 16px 24px 20px 24px;

        .delivery-address-update-form {
          .ant-form-item {
            column-gap: 12px;
            margin-bottom: 16px;
            align-items: center;

            .ant-form-item-label {
              width: 141px;

              label {
                margin-bottom: 8px !important;
              }
            }

            .ant-form-item-control {
              .ant-form-item-control-input {
                .ant-form-item-control-input-content {
                  .ant-select {
                    width: 100% !important;
                    .ant-select-selector {
                      width: 100% !important;
                    }

                  }
                }
              }
            }
          }
        }

      }
    }
  }
}