.delivery-confirmation-list-card {
  .ant-collapse-item {
    .ant-collapse-content {
      padding: 32px 0px 32px 0px;

      .delivery-confirmation-list-table {
        table {
          .table-action-content {
            column-gap: 24px;
            display: flex;
            align-items: center;
            justify-content: center;

            .delivery-btn {
              width: 119px;
              height: 36px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #00a483;
              border-radius: 4px;
              color: #fff;
              box-shadow: none;
              border: none;

              span {
                font-family: UbuntuMedium, sans-serif;
                font-size: 12px;
                line-height: 12px;

              }
            }
          }

          .cell-tooltip {
            margin-left: 5px;
          }

          .cell-detail {
            span {
              cursor: pointer;
              color: #00a483;
              font-family: UbuntuRegular, sans-serif;
              font-size: 14px;
              display: block;
            }
          }
        }
      }

      .delivery-confirmation-list-footer {
        display: flex;
        justify-content: space-between;
        padding: 24px 16px 0 16px;
        align-items: center;

      }

    }
  }
}

.delivery-confirmation-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 38px;

  .back-btn {
    background: transparent;
    border: none;
    font-family: UbuntuRegular, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #162056;
    box-shadow: none;
    padding: 0;

    img {
      margin-right: 10px;
    }
  }
}


@media (max-width: 1200px) {
  .delivery-confirmation-list-card {
    .ant-collapse-item {
      .ant-collapse-content {
        .delivery-confirmation-list-footer {
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
  .delivery-confirmation-btn-container {
    display: none;
  }
}