.download-modal {
  width: 277px !important;

  .ant-modal-content {
    .ant-modal-body {
      padding: 24px;

      .download-container {
        .custom-radio-input-content {
          display: flex;
          flex-direction: column;

          label {
            display: flex;
            align-items: center;
            margin: 0;

            .ant-radio {
              top: 0;

              .ant-radio-inner {
                width: 24px;
                height: 24px;
                background: #f8f8f8;
                border: solid 2px #4d5868;
              }
            }

            .ant-radio-inner::after {
              width: 14px;
              height: 14px;
              background-color: #6b7789;
            }
          }

          label span:nth-child(2) {
            display: flex;
            align-items: center;
            padding: 0;
            font-family: UbuntuMedium, sans-serif;
            font-size: 14px;
            line-height: 18px;
            color: #3f4957;
            letter-spacing: 0;
          }

          .ant-radio-wrapper {
            transition: 300ms all;
            margin-bottom: 12px;
            column-gap: 12px;
          }

          .ant-radio-wrapper:last-child {
            margin-bottom: 16px;
          }

          .ant-radio-wrapper-unchecked {
            opacity: 0.3;
            transition: 300ms all;
          }
        }

        .footer-btn {
          display: flex;
          column-gap: 26px;

          .download-btn {
            background-color: #699a00;
            color: #fff;
            width: 86px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: UbuntuMedium, sans-serif;
            font-size: 14px;
            line-height: 12px;
            border-radius: 4px;
            outline: 0;
            box-shadow: none;
            border: none;
          }

          .cancel-btn {
            font-family: UbuntuMedium, sans-serif;
            color: #3f4957;
            font-size: 14px;
            line-height: 20px;
            border-radius: 4px;
            outline: 0;
            box-shadow: none;
            border: none;
            height: 40px;
            padding: 0;

            span {
              text-decoration: underline;

            }
          }
        }
      }

    }

  }
}

@media (max-width: 991.98px) {
  .download-modal {
    width: 243px !important;
  }
}