.announcement-list-card {
  .add-announcement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 24px 17px;

    .add-btn {
      width: 217px !important;
      background: #00a483 !important;
      height: 36px;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: center;
      color: #fff;
      border-radius: 6px;
      line-height: 0.86;
      padding: 9px 16px;

      img {
        margin-right: 10px;
      }
    }
    .search-btn {
      width: 60px;
      height: 36px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: #3f4957;
      color: #fff;
      font-size: 14px;
      line-height: 20px;
      font-family: UbuntuMedium, sans-serif;
      border-radius: 10px;
    }
  }
  tbody tr {
    cursor: pointer;
  }
}

@media (max-width: 360px) {
  .announcement-list-card {
    .add-announcement {
      padding: 10px 4px;
    }
  }
}

.status-text-active {
  color: #00a483;
  font-weight: bold;
}

.status-text-passive {
  color: #f72717;
  font-weight: bold;
}

.custom-pagination {
  flex-wrap: wrap;
  .ant-pagination-options-quick-jumper input {
    margin-left: -20px;
    margin-right: -40px;
  }
  .ant-pagination-options-quick-jumper .go-button {
    background: #00a483 !important;
    height: 24px;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    line-height: 0.86;
    margin-left: 12px;
    margin-right: 12px;
  }
  .ant-pagination-options {
    display: flex;
    flex-direction: row-reverse;
  }
}
