.custom-modal.success-finish-modal {
  .ant-modal-header {
    height: unset;
  }
  .ant-modal-title {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;

    img {
      width: 32px;
      height: 28px;
    }
  }
  .ant-modal-body {
    p {
      font-size: 18px;
      font-weight: 500;
    }
    button {
      width: 100%;
      height: 45px;
    }
  }
}
.edit-footer{.edit-announcement-footer{
  .cancel-btn{
    color:white !important;
    background-color: gray;
    margin-right: 1em;
  }
  .draft-btn{
    color:white !important;
    background-color: darkgoldenrod;
    margin-right: 1em;
  }
  .save-and-finish-btn{
    color:white;
    background-color: rgb(69, 69, 227)
  }
}
}
.add-announcement-footer{
  .cancel-btn{
    color:white !important;
    background-color: gray;
    margin-right: 1em;
  }
  .draft-btn{
    color:white !important;
    background-color: darkgoldenrod;
    margin-right: 1em;
  }
  .save-and-finish-btn{
    color:white;
    background-color: rgb(69, 69, 227)
  }
}