.announcement-show {
  padding: 16px 45px 0 45px;
  font-family: UbuntuRegular, sans-serif;
  > li {
    height: auto;
    margin: 0 0 28px 0;
    font-weight: bold;
    letter-spacing: normal;
    color: #050505;
    list-style: none;

    > span {
      color: #6b7789;
    }
    .status-text-active {
      color: #00a483;
      font-weight: bold;
    }

    .status-text-passive {
      color: #f72717;
      font-weight: bold;
    }
    
  }
  > li:last-child {
    margin-bottom: 0;
  }

  .roleListContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  
  
  .rolesList{
    list-style-type:decimal;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin-left: 1.5rem;
    .roles{
      margin: 0;
      margin-bottom: 5px;
    }
  }
  }


}
.announcement-show-footer {
  font-family: UbuntuRegular, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  color: #3485fd;
  span {
    color: #6b7789;
  }
  padding-left: 0;
}
// .announcement-show-role {
//   padding: 10px 20px;
//   flex-wrap: wrap;
//   display: flex;
//   gap: 10px;
// }
.btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  button {
    border: none;
  }
  .shared-btn {
    background-color: #00a483;
  }
  .edit-btn {
    background-color: #d5b803;
  }
}

.content-text-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content:space-between;
  // background-color: #3485fd;
  padding: 0;

  .announcement-content-text {
    // background-color: #00a483;
    border: 1px solid gray;
    // border-radius:7px;
    box-shadow:  1px 2px 0 0 gray;
    width: 70%;
    height:200px;
    margin:5px;
    // margin-left: 0.5rem;
    margin-right: 15%;
    padding: 5px;
    word-wrap: break-word;
    text-align: center;
    overflow-x: auto;
    overflow-y: auto;
  }
}